<div id="head-container">
  <%= render "shared/header" %>
  <div id="index-image">
    <div id="index-black">
      <div id="index-head-content">
        <h1 id="index-headline">Hi, I'm Charles!</h1>
        <div id="index-link-container">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-wrapper">
  <div id="main-content-container">
    <div id="about-section-container">
      <h1 id="about-headline">About Me</h1>
    </div>
  </div>
</div>
