<div id="head-container">
  <div id="index-image">
    <div id="index-black">
      <div id="index-head-content">
        <h1 id="index-headline">Hi, I'm Charles!</h1>
        <div id="index-link-container">
          <%= link_to "Resume", "https://www.dropbox.com/s/qrrielnhu0kwkfl/resume3.pdf?dl=0", class: "button", id: "resume-link", target: "_blank" %>
          <%= link_to "Contact Me!", "#contact", class: "button", id: "contact-link" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-wrapper">
  <div id="main-content-container">
    <div id="about-section-container">
      <h2 class="headline" id="black-headline">
        Constantly
          <span id="learning-headline">learning</span>
        and
          <span id="building-headline"> building</span>.
      </h2>
      <p id="about-content" class="small-container">
        Hey there! I’m currently a second year at <span id="ucb-span" class="about-span">UC Berkeley</span> studying <span id="eecs-span" class="about-span">Computer Science and Electrical Engineering.</span> I love simple code and beautiful design. I also enjoy racket sports, board game nights, jamming out on the guitar, and playing video games. Right now I’m primarily a <span id="rails-span" class="about-span">Rails programmer</span> dabbling in mobile applications, especially <span id="android-span" class="about-span">Android</span>. I’m currently a developer for <span id="bp-span" class="about-span">Cal Blueprint</span>, as well as a staff member of the <span id="coe-span" class="about-span">Berkeley College of Engineering</span>.
      </p>
    </div>
    <div class="section" id="project-section-container">
      <h2 class="headline">
        Stuff I'm doing
      </h2>
      <div id="project-section-project-container">
        <div class="project-container">

        </div>
        <div class="project-container">

        </div>
        <div class="project-container">

        </div>
      </div>
    </div>
    <div class="section" id="contact-section-container">
      <h2 class="headline">
        Want to chat? Message me!
      </h2>
    </div>
  </div>
</div>

<%= render "shared/modal" %>
