<div id="navbar-container" onmouseover="navReveal()" onmouseout="navHide()">
  <div class="hide-medium" id="navbar">
    <%= link_to "Projects", "#", class:"navbar-tab navbar-highlight" %>
    <%= link_to "Home", root_path, class: "navbar-tab" %>
  </div>
</div>
<div class="show-medium" id="navbar-show" onclick="navRevealMobile()"></div>
<div class="show-medium" id="navbar-outside" onclick="navHideMobile()"></div>
<div class="show-medium" id="navbar-menu">
  <%= link_to "Home", root_path, id: 'navbar-home' %>
  <%= link_to "Projects", "#", class:"navbar-tab navbar-highlight" %>
</div>

