@import "variables.css.scss";

::-webkit-scrollbar {
    display: none;
}

#head-container {
  margin-left: auto;
  margin-right : auto;
  background: #fff;
  z-index: 0;
  overflow: auto;
  margin-bottom: $footer-margin;
}

#index-image {
  background-image: url(asset_path("main.jpg"));
  background-position: center;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 600px;
}

#index-black {
  width: 100%;
  height: 600px;
  z-index: 0;
  background-color: rgba(0,0,0,0.4);
}

#index-head-content {
  position: relative;
  width: 100%;
  height: 600px;
}

#index-content {
  bottom: 0;
  left: 0;
  padding-left: 50px;
  position: absolute;
}

#index-headline {
  @extend #index-content;
  padding-bottom: 190px;
  font-size: 100px;
}

#index-link-container {
  @extend #index-content;
  padding-bottom: 100px;
}

#resume-link {
  float: left;
}

#contact-link {
  float: left;
  margin-left: 20px;
}


/* Main content */

#main-wrapper {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 100px;
}

#main-content-container {
  width: 100%;
  height: $footer-margin;
  background-color: white;
}

#about-section-container {
  width: 100%;
  height: 200px;
}

#about-headline {
  color: black;
  text-align: center;
  font-size: 70px;
  font-weight: 300;
}

#learning-headline {
  font-weight: 400;
  color: #206BA4;
}

#building-headline {
  font-weight: 400;
  color: #CDB99C;
}

#about-content {
  margin-top: 20px;
  line-height: 40px;
}

.about-span { font-weight: 300; }

#second-span { color: #4086AA; }
#ucb-span { color: #FFCC00; }
#eecs-span { color: #91C3DC; }
#rails-span { color: #da5067; }
#android-span { color: #b2fb49; }
#bp-span { color: #1261B2; }
#coe-span { color: #00b2a5; }
