#modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  display: none;
}

#modal-content-container {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 40px 20px;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
}

#modal-form-container {

}

#modal-contact-headline {
  color: black;
  font-size: 75px;
  text-align: center;
}

#modal-info-container {
  margin: 0 auto;
}

#contact-text-area {
  resize: none;
}

#modal-email {
  float: left;
  width: 49%;
}

#modal-subject {
  float: right;
  width: 49%;
}
