
/* Variables */

$h1: 700 48px Montserrat, sans-serif;
$h2: 400 48px Lato, sans-serif;
$p: normal 16px Lato, serif;
$primary-color: #fff;
$secondary-color: #000;
$tertiary-color: #B25A3F;
$light-gray: #AAAAAA;
$dark-gray: #666666;
$black: #333333;

$footer-margin: 5000px;
